*{
    margin: 0px;
    padding:0px;
    }

#index{
    background-image: url(https://s1.1zoom.me/b5050/830/2020_Czinger_21C_Night_Headlights_581064_1920x1080.jpg);
}

.logoo{
    width:  80px;
    height: 80px;
}

.titulo{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black ;
    color: white;
    
}

footer{
    background-color: black ;
    color: #fff;
    text-align: center;
    padding: 0.5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: large;
}

.fondo{
    background-color: rgb(189, 189, 189);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px;
    margin-top: 120px;
    
}

.grid-item {
    border: 5px solid black; 
    padding: 10px; 
    text-align: center;
    background-color: rgb(156, 154, 154);
}

.grid-item img {
    width: 415px;
    height: 270px;
    border-radius: 15px;
    margin-top: 30px;
}

.modelo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-family: cursive;
    font-weight: bolder;
    font-size: large;
    margin-top: 15px;
    color: white;
}

.precio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: larger;
}

.boton{
    background-color: black;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;

}

.mapa{
    margin-left: 100px;
    margin-top: 100px;
    width: 500px;
    height: 500px;
}